*{
    padding: 0;
    margin: 0;
}
body{
    margin-left: 335px;
    margin-top: 49px;
    position: relative;
}
.project{
    width: 814px;
    box-shadow:10px 10px 0px #909090, -10px -10px 0px #217b07, 10px -10px 0px #002eff, -10px 10px 0px #002eff;
}
.main-section{
    overflow: hidden;
    margin-left: 43px;
}
.left-site{
    width:315px;
    float: left;
}
.heading{
    font-size: 60px;
    font-family: Bahnschrift;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
    position: relative;
    color: rgb(20, 20, 86);
}
.heading span{
    color: rgb(200, 28, 28);
}
.heading sup{
    font-size: 22px;
    position: absolute;
    top: 0;
    right: 112px;
    width: 16px;
    height: 17px;
    /* border: 2px solid rgb(20, 20, 86); */
    /* border-radius: 50%; */
    text-align: center;
}
.cal_vit{
    margin-left: 73px;
}
.left-site section{
    display: inline-block;
    font-family:Bodoni MT Condensed;
    font-size: 17px;
    color: rgb(13, 13, 113);
}
.Synergistic{
    margin-top: 16px;
}
.Synergistic::after{
    content: '';
    width: 300px;
    height: 2px;
    background-color: rgb(225, 59, 59);
    display: inline-block;
    margin-bottom: -10px;
    margin-left: -237px;
}
.strong{
    margin-left: 198px;
    margin-top: 1px;
}
ul li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 12px;
    display:flex;
}
ul li::before {
    content: '';
    border-width: 10px;
    border-color: red transparent transparent transparent;
    border-style: solid;
    position: relative;
    top: 4px;
    margin-right: 10px;
}
ul li:first-child{
    margin-top: 25px;
}
.vitamin{
    margin-top: 24px;
    display: inline-block;
    color: rgb(56, 53, 53);
}
.vitamin::after{
    content: '';
    width: 117px;
    height: 1px;
    background-color: rgb(56, 53, 53);
    display: inline-block;
    margin-bottom: -5px;
    margin-left: -117px;
}
.helps{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(56, 53, 53);
    margin-top: 20px;
    line-height: 30px;
}
.right-site{
    width: 355px;
    float: right;

}
.calsil_plus{
    display: block;
    position: absolute;
    left: 536px;
    top: 284px;
    box-shadow: 5px 7px 6px 8px #9dadaf;
    border-radius: 7%;
}
.footer {
    margin-top: 20px;
    background-color: rgb(15, 15, 73);
    color: white;
    position: relative;
    width: 814px;
    height: 85px;
}
.footer .first-div{
    width: 33%;
    float: left;
    overflow: hidden;
}
.first_1_div img{
    width: 45px;
    height: 51px;
    margin-top: 15px;
    margin-left: 40px;
    overflow: hidden;
    float: left;
}
.footer .first_2_div{ 
    margin-top: 12px;
    float: right;
    margin-right: 73px;
}
.first_2_div h4{
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer .second-div{
   width: 33%;
   float: left;
   font-size: 10px;
   margin-top: 15px;
   overflow: hidden;
}
.footer .third-div{
    width: 33%;
    float: left;
    margin-top: 6px;
    overflow: hidden;
}
.third-div p{
    font-size: 10px;
}
